.container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.item{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    background-color: blue;
}

.item.selected{
    background-color: green;
}